.wrap {
  background-color: #000;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  padding: 30px 20px 20px;
}

.header .menu {
  color: rgb(229,9,20);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.main {
  padding: 0 20px;
  color: #fff;
}

.footer {
  padding: 50px 20px;
  font-size: 13px;
  line-height: 17px;
  color: #777;
}
